<div>
    <div>
<h4>Successfully saved</h4>
<p>
    We saved your data to GoogleShetts.
    Check it here
    https://docs.google.com/spreadsheets/d/1Mw7eXhp7t9DUCXWGzLZDjkmQ-pg6eyHtNSPXx2fdR4w/edit#gid=0
</p>
<a href="/">Go home</a>
    </div>
</div>